server:
  port: 1111

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/dcbapp
    username: root
    password: root123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

welmsg: em ra bob